
*.db-journal
__pycache__/frmuser.cpython-310.pyc
bll/__pycache__/roles.cpython-310.pyc
bll/__pycache__/usuarios.cpython-310.pyc
__pycache__/frmuser.cpython-310.pyc
__pycache__/frmdashboard.cpython-310.pyc
__pycache__/frmdashboard.cpython-310.pyc
__pycache__/frmlogin.cpython-310.pyc
__pycache__/frmuser.cpython-310.pyc
__pycache__/frmusers.cpython-310.pyc
__pycache__/frmsala.cpython-310.pyc
__pycache__/frmsalas.cpython-310.pyc
bll/__pycache__/salas.cpython-310.pyc
